<a href="/dashboard">&larr; Back to Dashboard</a>

<div class="admin-title">
    <h2>Add New Post</h2>
    <form action="/add-post" method="post">
        <label for="title">Title: </label><br />
        <input type="text" placeholder="Post Title" name="title">
        <label for="body">Content: </label><br />
        <textarea name="body" cols="50" rows="10"></textarea>

        <input type="submit" value="Add" class="btn">
    </form>
</div>